<div class="card mt-5">
    <div class="card-header"><h1>Informacion de Alumno</h1></div>
    <div class="card-body">

        <!-- Cuando el evento onSubmit , suceda se va pasar todo el formulario 'productForm' -->
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">

            <!-- TO UPDATE -->
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">

            <div class="form-group">
                <input type="text" class="form-control" name="name" #name="ngModel"
                    [(ngModel)]="productService.selectedProduct.name" placeholder="Nombre">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="category" #category="ngModel"
                    [(ngModel)]="productService.selectedProduct.category" placeholder="Apellido">
            </div>

            <div class="form-group">
                <input type="number" class="form-control" name="location" #location="ngModel"
                    [(ngModel)]="productService.selectedProduct.location" placeholder="Edad">
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Agregar/Editar Alumno
                </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
                    <i class="fas fa-sync-alt"></i> Limpiar Formulario
                </button>
            </div>
        </form>
    </div>
</div>